# BOT SECRET TOKEN, get token via @BotFather
TG_BOT_SECRET_TOKEN=1234567890:Abcdefghijklmnopqrstuvwxyz

# GEMINI API key, generate it on platform.openai.com/api-keys
GEMINI_API_KEY=AAbcdefghijklmnopqrstuvwxyz
 
# Database credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecurepassword123
POSTGRES_DB=video_statistics
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
